[phases.setup]
nixPkgs = ["maven", "jdk17"]

[phases.build]
cmds = [
  "chmod +x mvnw || true",
  "./mvnw clean package -DskipTests -B"
]

[phases.start]
cmd = "java -Dserver.port=$PORT $JAVA_OPTS -jar target/*.jar"

